body {
    margin: 0;
    padding: 0;
    background-color: #d2dce4;
    font-family: 'Oswald', sans-serif;
}

.container, main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    margin: 0 2rem;
    width: 720px;
    height: 500px;
    padding: 4rem 2rem;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: antiquewhite;
    overflow: hidden;
}

img {
    object-fit: cover;
}

h4, h3 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 5px;
    color: #003f5e;
    font-weight: 900;
}

h4 {
    margin: 5px;
    text-transform: uppercase;
    font-size: 15px;
    color: #009adb;
}

p {
    font-size: 20px;
    font-style: italic;
    border: 1px solid #d1d1d1;
    padding: 15px;
    border-radius: 10px;
    color: #004b6b;
    margin-bottom: 0;
}

.slidebar {
    margin: 0px;
    padding: 10px 50px;
}

.underline {
    background-color: #009adb;
    height: 2px;
    margin: 0px 0px;
    padding: 2px 35px;
    border-radius: 8px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 900;
    color: #003f5e;
}

button {
    padding: 5px 15px;
    font-size: 1em;
    font-weight: 900;
    border-radius: 8px;
    color: #009adb;
    border-color: #009adb;
    /* border: 1px solid #009adb; */
    background: transparent;
}

i {
    margin: 10px;
    font-size: 20px;
    color: #009adb;
    border: 2px solid #009adb;
    padding: 5px;
    border-radius: 5px;
}

i, button:hover{
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .container {
        max-width: 320px;
        margin-top: 20px;
    }

    .image {
        height: 110px;
        width: 110px;
        margin-bottom: 0;
    }

    img {
        width: 120px;
        height: 120px;
    }

    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

